#cv-template{
    display:none;
    background-image: none;
}

.myimg{

    border-radius: 50%;
    width: 200px;
}
.background{
  background: rgb(19, 192, 219);
  background: rgb(19, 192, 219);

}
  
  @media print {
    body, #cv-template {
        background-image: none;
    }
}

@media print {
  body {
      background-image: none;
  }
}

@media print {
    #pcv {
      display: none;
    }
  }
  